*{
	font-family: "Open Sans", sans-serif;
	margin:0;
	padding:0;
}
.carousel-img {
    height: 500px;     
    object-fit: cover; 
}
.fit-img {
    object-fit: cover;
}
.title h1{
    background: #F0FFFF;
    padding: 80px;
}
.biography .col-6 {
    margin-top: 50px;
}
.direct-contact .row{
    margin-top: 70px;
    margin-bottom: 70px;
}